@import 'true';
@import '../src/dissoc';

@include describe('dissoc [function]') {
    $_obj-dissoc: (
        a: 1,
        b: 2,
        c: 3
    );

    @include it('should remove the key from the object') {
        @include assert-equal(
            dissoc('b', $_obj-dissoc),
            (
                a: 1,
                c: 3
            )
        );
    }
}
