@import 'true';
@import '../src/merge';

@include describe('merge [function]') {
    @include it('should merge two objects into a single object') {
        @include assert-equal(
            merge(
                (
                    'name': 'fred',
                    'age': 10
                ),
                (
                    'age': 40
                )
            ),
            (
                'name': 'fred',
                'age': 40
            )
        );
    }

    @include it(
        'should override props in the first object with props in the second object'
    ) {
        @include assert-equal(
            merge(
                (
                    x: 0,
                    y: 0
                ),
                (
                    y: 2
                )
            ),
            (
                x: 0,
                y: 2
            )
        );
    }
}
