@import 'true';
@import '../src/merge-deep-right';

@include describe('merge-deep-right [function]') {
    @include it(
        'takes two objects, recursively merges their own properties and returns a new object'
    ) {
        $left: (
            'w': 1,
            'x': 2,
            'y': (
                'z': 3
            )
        );

        $right: (
            'a': 4,
            'b': 5,
            'c': (
                'd': 6
            )
        );

        $expected: (
            'w': 1,
            'x': 2,
            'y': (
                'z': 3
            ),
            'a': 4,
            'b': 5,
            'c': (
                'd': 6
            )
        );

        @include assert-equal(merge-deep-right($left, $right), $expected);
    }

    @include it(
        'overrides properties in the first object with properties in the second object'
    ) {
        $left: (
            'a': (
                'b': 1,
                'c': 2
            ),
            'y': 0
        );

        $right: (
            'a': (
                'b': 3,
                'd': 4
            ),
            'z': 0
        );

        $expected: (
            'a': (
                'b': 3,
                'c': 2,
                'd': 4
            ),
            'y': 0,
            'z': 0
        );

        @include assert-equal(merge-deep-right($left, $right), $expected);
    }
}
