@use "sass:list";
@use "sass:math";
@use './internal/run-function-with-params';
@use 'init';
@use 'last';
@use 'head';

/// Performs right-to-left function composition. The right most parameter is the input
///
/// @group function
/// @param {Function...} params... The functions and input to compose
/// @return {*}
/// @see pipe
///
/// @example scss - compose
///
///   $input: ('a', 'b', 'c');
///   $output: compose(
///     (implode, '-'),
///     (join, ('d', 'e')),
///     $input);
///   @debug $output; //=> 'd-e-a-b-c'

@function compose($params...) {
    $function-list: init.init($params);
    $result: last.last($params);

    @for $i from list.length($function-list) * -1 through -1 {
        $function: list.nth($function-list, math.abs($i));
        $result: run-function-with-params.run-function-with-params($function, $result);
    }

    @return $result;
}
