@import 'inc';

/// Returns whether or not a path exists in an object.
///
/// @group object
/// @param {Array} path The path to use.
/// @param {Object} obj The object to check the path in.
/// @return {Boolean} Whether the path exists.
///
/// @example scss - hasPath
///
///   $nested-obj: (a: (b: 2));
///   $has-path: hasPath(('a', 'b'), $nested-obj);
///   $no-has-path: hasPath(('a', 'c'), $nested-obj);
///   @debug $has-path; //=> true
///   @debug $no-has-path; //=> false

@function hasPath($path, $obj) {
    @if length($path) == 0 {
        @return false;
    }
    $val: $obj;
    $idx: 1;

    @while $idx <= length($path) {
        @if map-has-key($val, nth($path, $idx)) {
            $val: map-get($val, nth($path, $idx));
            $idx: inc($idx);
        } @else {
            @return false;
        }
    }

    @return true;
}

/// @alias hasPath
@function has-path($path, $obj) {
    @return hasPath($path, $obj);
}
