@use "sass:list";
/// Returns a string made by inserting the `separator` between each element and
/// concatenating all the elements into a single string. Ramda defines this as
/// join but sass has it's own join method.
///
/// @group list
/// @param {Number|String} separator The string used to separate the elements.
/// @param {Array} xs The elements to join into a string.
/// @return {String} str The string made by concatenating `xs` with `separator`.
///
/// @example scss - implode
///
///   $imploded: implode('|', (1 2 3 4 5 6 7 8 9));
///   @debug $imploded; //=> '1|2|3|4|5|6|7|8|9'

@function implode($separator: '', $xs: ()) {
    $result: '';
    @for $i from 1 through list.length($xs) {
        $delimiter: if($i != 1, $separator + '', '');
        $item: #{$delimiter + list.nth($xs, $i)};
        $result: #{$result + $item};
    }

    @return $result;
}
