/// Takes a predicate and a list and returns a pair of filterable lists of the same type of
/// elements which do and do not satisfy, the predicate, respectively.
///
/// @group partition
/// @param {Function} pred A predicate to determine which side the element belongs to.
/// @param {Array} filterable the list to partition.
/// @return {Array} An array, containing first the subset of elements that satisfy the
///  predicate, and second the subset of elements that do not satisfy.
/// @see filter
/// @see reject

@function partition($pred, $filterable) {
    $satisfy: ();
    $dissatisfy: ();
    @each $item in $filterable {
        $truthy: if(call(get-function($pred), $item), true, false);
        @if $truthy {
            $satisfy: append($satisfy, $item);
        } @else {
            $dissatisfy: append($dissatisfy, $item);
        }
    }
    @return ($satisfy, $dissatisfy);
}
