@import './internal/run-function-with-params';
@import 'init';
@import 'last';

/// Performs left-to-right function composition.
///
/// @group function
/// @param {Function...} params... The functions to compose
/// @return {*}
/// @see compose
///
/// @example scss - pipe
///
///   $input: ('a', 'b', 'c');
///   $output: pipe(
///     (join, ('d', 'e')),
///     (implode, '-'),
///     $input);
///   @debug $output; //=> 'd-e-a-b-c'

@function pipe($params...) {
    $function-list: init($params);
    $result: last($params);

    @each $function in $function-list {
        $result: _run-function-with-params($function, $result);
    }

    @return $result;
}
