@use './internal/run-function-with-params';
@use 'init';
@use 'last';

/// Performs left-to-right function composition.
///
/// @group function
/// @param {Function...} params... The functions to compose
/// @return {*}
/// @see compose
///
/// @example scss - pipe
///
///   $input: ('a', 'b', 'c');
///   $output: pipe(
///     (join, ('d', 'e')),
///     (implode, '-'),
///     $input);
///   @debug $output; //=> 'd-e-a-b-c'

@function pipe($params...) {
    $function-list: init.init($params);
    $result: last.last($params);

    @each $function in $function-list {
        $result: run-function-with-params.run-function-with-params(
            $function,
            $result
        );
    }

    @return $result;
}
