@use "sass:list";
@use "sass:string";
@use 'inc';

/// Splits a string into an array of strings based on the given
/// separator.
///
/// @group string
/// @param {String} sep The pattern.
/// @param {String} str The string to separate into an array.
/// @return {Array} The array of strings from `str` separated by `str`.
/// @see implode
///
/// @example scss - split
///
///   $splitted: split('-', 'a-b-c-d-e-f-g');
///   @debug $splitted; //=> ('a', 'b', 'c', 'd', 'e', 'f', 'g')

@function split($sep, $str) {
    $delimiter-length: string.length($sep);
    $idx: string.index($str, $sep);
    $result: ();
    @if ($delimiter-length == 0) {
        @while $idx <= string.length($str) {
            $result: list.append($result, string.slice($str, $idx, $idx), 'comma');
            $idx: inc.inc($idx);
        }
        @return $result;
    } @else {
        @while $idx != null {
            $result: list.append($result, string.slice($str, 1, $idx - 1), 'comma');
            $str: string.slice($str, $idx + $delimiter-length);
            $idx: string.index($str, $sep);
        }
        @return list.append($result, $str);
    }
}
