/// Splits a string into an array of strings based on the given
/// separator.
///
/// @group string
/// @param {String} sep The pattern.
/// @param {String} str The string to separate into an array.
/// @return {Array} The array of strings from `str` separated by `str`.

@function split($sep, $str) {
    $delimiter-length: str-length($sep);
    $idx: str-index($str, $sep);
    $result: ();
    @while $idx != null {
        $result: append($result, str-slice($str, 1, $idx - 1), 'comma');
        $str: str-slice($str, $idx + $delimiter-length);
        $idx: str-index($str, $sep);
    }
    @return append($result, $str);
}
