@use "sass:list";
@use "sass:meta";
@use 'reduce';

///
/// Returns a new list containing only one copy of each element in the original
/// list.
///
/// @group list
/// @param {Array} list The array to consider.
/// @return {Array} The list of unique items.
/// @example scss - uniq
///
///   uniq([1, 1, 2, 1]); //=> [1, 2]
///   uniq([1, '1']);     //=> [1, '1']
///   uniq([[42], [42]]); //=> [[42]]
///

@function uniq($list...) {
    $result: ();

    @if meta.type-of($list) == arglist and list.length(list.nth($list, 1)) == 0 {
        @return $result;
    }

    $_list: if(
        meta.type-of($list) == arglist and list.length($list) == 1,
        reduce.reduce(append, (), list.nth($list, 1)),
        $list
    );
    @each $item in $_list {
        // should probably test with `get-function` for functions.
        @if not list.index($result, $item) {
            $result: list.append($result, $item);
        }
    }

    @return $result;
}
